.left {
    background-color: aqua;
    display: inline-block;
}
.right {
    background-color: red;
    display: inline-block;
}
.item {
    width: 45%;
    height: 450px;
}
.blue{
    background-color: pink;
    display: inline-block;
    width: 45%;
    height: 250px;
}
.pink{
    background-color: grey;
    display: inline-block;
    width: 25%;
    height: 250px;
}